/*----------IMPORTS----------*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

/*----------ANIMATIONS----------*/

@keyframes float {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*----------GENERAL----------*/

* {
  box-sizing: border-box;
}

a {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.2s;
}

body {
  align-items: center;
  background-image: linear-gradient(
    rgb(32, 32, 32),
    rgb(61, 32, 68),
    rgb(51, 23, 146),
    rgb(104, 157, 236)
  );
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  overflow: hidden;
}

footer {
  align-items: center;
  bottom: 0;
  background-color: #f3933c;
  display: flex;
  flex-direction: column;
  height: 5em;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

html {
  width: 100%;
}

h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  margin: 0.5em 0em 0.5em 0em;
}

h2 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  margin: 0;
}

li,
p {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

nav {
  align-items: center;
  background-color: rgba(32, 32, 32, 0.609);
  display: flex;
  flex-shrink: 2;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

section {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: start;
}

/*----------SPECIFICS----------*/

.background {
  height: 100vh;
  left: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.dots {
  animation: float 3s ease-in-out infinite;
  background-color: white;
  border-radius: 100%;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.main-content {
  align-items: center;
  background-image: linear-gradient(
    rgba(32, 32, 32, 0.609),
    rgba(32, 32, 32, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 6em;
  padding: 0em 1em 1em 1em;
  text-align: center;
  width: 30em;
  z-index: 1;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 4em;
  justify-content: space-around;
  text-align: center;
}

.nav-logo {
  margin: 0.75em;
}

.orange {
  color: #f3933c;
}

nav a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-content section div {
  margin: 0em 1em;
  text-align: start;
  width: 25%;
}

.main-content a {
  margin: 1em 0em;
}

footer p {
  color: rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/*----------HOVER----------*/

a:hover {
  color: #f3933c;
  cursor: pointer;
}

/*----------MEDIA QUERIES----------*/

@media only screen and (max-width: 476px) {
  .main-content {
    width: 20em;
  }
}

@media only screen and (max-width: 411px) {

  html {
    overflow-x: hidden;
  }

  nav a {
    width: 4em;
  }

  .main-content {
    margin-top: 6em;
  }

  .nav-logo {
    width: 4em;
  }
}

@media only screen and (max-width: 280px) {
  .main-content {
    width: 15em;
  }
}