/*----------IMPORTS----------*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

/*----------ANIMATIONS----------*/

@keyframes float {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*----------GENERAL----------*/

* {
  box-sizing: border-box;
}

a {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.2s;
}

body {
  align-items: center;
  background-image: linear-gradient(rgb(32, 32, 32), rgb(61, 32, 68), rgb(51, 23, 146), rgb(104, 157, 236));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

footer {
  align-items: center;
  background-color: #f3933c;
  display: flex;
  justify-content: center;
  height: 5em;
  width: 100%;
  z-index: 1;
}

html {
  width: 100%;
}

h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  margin: 0.5em 0em 0em 0em;
}

h2, li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  margin: 1em;
}

li {
    font-size: 1em;
    margin: 0;
}

nav {
  align-items: center;
  background-color:rgba(32, 32, 32, 0.609);
  display: flex;
  flex-shrink: 2;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

ul {
    list-style-type: none;
    padding-left: 10%;
    text-align: start;
    width: 100%;
}

/*----------SPECIFICS----------*/

.background {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
}

.dots {
  animation: float 3s ease-in-out infinite;
  background-color: white;
  border-radius: 100%;
}

.examples {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.example-imgs {
    margin-top: 0.75em;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 80%;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 80%;
}

.main-content {
  align-items: center;
  background-image: linear-gradient(rgba(32, 32, 32, 0.609),rgba(32, 32, 32, 0));
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10.75em;
  min-height: 100vh;
  min-width: 42vw;
  padding: 0em 1em 1em 1em;
  text-align: center;
  width: fit-content;
  z-index: 1;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 4em;
  justify-content: space-around;
  text-align: center;
}

.nav-logo {
  margin: 0.75em;
}

.orange {
  color: #f3933c;
}

.owner-img {
  border-radius: 100%;
  margin: 1em 0em;
  width: 50%;
}

.web-design, .graphic-design, .illustration {
    display: none;
    opacity: 0;
    position: relative;
    width: 35em;
}

.main-content p {
  border-radius: 1em;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

nav a {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer div {
  text-align: center;
  margin: 0 0.5em;
}

footer p, footer a {
  color: rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

footer a {
  font-size: 1em;
}

footer i {
  font-size: 2.5em;
  margin: 0.25em;
}

/*----------HOVER----------*/

a:hover {
  color: #f3933c;
  cursor: pointer;
}

footer a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

/*----------MEDIA QUERIES----------*/

@media only screen and (max-width: 571px) {

  ul {
    padding-left: 20%;
    width: 60%;
  }

  .example-imgs {
    width: 60%;
  }

  .main-content {
    width: 100%;
  }
}

@media only screen and (max-width: 411px) {

  html {
    overflow-x: hidden;
  }

  ul {
    width: 100%;
  }

  nav a {
    width: 4em;
  }

  .links {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-content {
    margin-top: 6em;
  }

  .nav-logo {
    width: 4em;
  }

  .links a {
    margin: 0 0.5em;
  }

   .examples > div {
    width: 100%;
  }
}

@media only screen and (max-width: 313px) {

  h2 {
    margin: 0;
  }

  ul {
    padding-left: 0;
  }

  .main-content p {
    text-align: center;
  }
}