/*----------IMPORTS----------*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*----------ANIMATIONS----------*/

@keyframes float {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*----------GENERAL----------*/

a {
  text-align: center;
  text-decoration: none;
    z-index: 1;
}

body {
    align-items: center;
        background-image: linear-gradient(rgb(32, 32, 32), rgb(61, 32, 68), rgb(51, 23, 146), rgb(104, 157, 236));
  background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

img {
    animation: float 3s ease-in-out infinite;
}

p {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 4em;
  margin: 0.5em 0em;
  transition: 0.2s;
}

/*----------SPECIFICS----------*/

.background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.dots {
  animation: float 3s ease-in-out infinite;
  background-color: white;
  border-radius: 100%;
}

.orange {
  color: #f3933c;
  transition: 0.2s;
}

/*----------HOVER----------*/

img:hover {
    cursor: pointer;
}

p:hover {
  cursor: pointer;
  color: #f3933c;
}

.orange:hover {
  color: white;
}

/*----------MEDIA QUERIES----------*/

@media only screen and (max-width: 439px) {
  a {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 339px) {
  a {
    position: relative;
    top: -10em;
    transform: scale(0.6);
  }
}